.popup {
  background-color: #232323;
  left: 50%;
  margin-left: -35vw;
  margin-top: -45vh;
  opacity: 0.90;
  position: fixed;
  top: 50%;
  width: 70vw;
  z-index: 3;
  padding: 50px 0;
  @media screen and (max-width: $tablet-start) {
    width: 90vw;
    left: 40%;
  }

  &__image {
    display: block;
    max-width: 65%;
    height: 70%;
    margin: auto;
    max-height: 68vh;
    @media screen and (max-width: $desktop-start) {
      height: auto;
      width: auto;
      max-width: 80%;
      max-height: 60%;
    }
  }

  &__text {
    color: $color-white;
    font-size: 18px;
    margin: 50px auto auto auto;
    width: 65%;
    @media screen and (max-width: $desktop-start) {
      width: 80%;
    }
    @media screen and (max-width: $tablet-start) {
      font-size: 14px;
    }
  }

  &__close {
    background-color: $color-white;
    color: #121212;
    cursor: pointer;
    font-family: "Aspira Webfont", Aspira, Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 7px 13px 5px 13px;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
  }

  &--hidden {
    display: none;
  }
}